<!-- <app-header></app-header> -->
<h1 class="heading">Hello {{title}}</h1>

<!-- <app-login></app-login> -->
<!-- <app-country></app-country> -->

<!-- <div>
  <button (click)="printAlert('Hello World')">String Alert 1</button>
  <button (click)="printAlert(1234)">Number Alert 1</button>
</div>
<div>
  <button (click)="printAlert2('Hello World')">String Alert 2</button>
  <button (click)="printAlert2(1234)">Number Alert 2</button>
</div> -->

<!-- <button (click)="printConsole('test')">Print Console</button>
<input type="text" name="" #box1 placeholder="keyup box" (keyup)="printConsole(box1.value)">
<input type="text" name="" #box2 placeholder="keydown box" (keydown)="printConsole(box2.value)">
<input type="text" name="" #box3 placeholder="blur box" (blur)="printConsole(box3.value)">
<input type="text" name="" #box4 placeholder="input box" (input)="printConsole(box4.value)">
<h2 (mouseover)="printConsole('mouse over')">mouse hover</h2>
<h2 (mouseleave)="printConsole('mouse leave')">mouse leave</h2> -->

<!-- <input type="text" #box placeholder="Enter Name" name="username">
<button (click)="getValue(box.value)">OK</button>
<p>Box value is : {{displayVal}}</p> -->

<!-- <button (click)="act('minus')">-</button>
<p>Count : {{count}}</p>
<button (click)="act('plus')">+</button> -->

<!-- <input type="text" name="" value="{{name}}" disabled="{{disable}}">
<input type="text" name="" id="" [value]="name" [disabled]="disable"> -->

<!-- <p *ngIf="show=='yes'; then ifBlock else elseBlock">Code Step by Step</p>
<ng-template #ifBlock>
  <p>if condition</p>
</ng-template>
<ng-template #elseBlock>
  <p>else condition</p>
</ng-template> -->

<!-- <ng-template [ngIf]="color==='red'">
  <p style="color: red;">Red Color</p>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <p style="color: green;">Green Color</p>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <p style="color: blue;">Blue Color</p>
</ng-template> -->

<!-- <div [ngSwitch]="color">
  <p style="color: red;" *ngSwitchCase="'red'">Red Color</p>
  <p style="color: green;" *ngSwitchCase="'green'">Green Color</p>
  <p style="color: blue;" *ngSwitchCase="'blue'">Blue Color</p>
  <p style="color: gray;" *ngSwitchDefault>Non Color</p>
</div> -->

<!-- <p *ngFor="let u of users">{{u}}</p> -->

<!-- <ul *ngFor="let u of usersDetail">
  <li>Name: {{u.name}}</li>
  <li>Email: {{u.email}}</li>
  <li>Phone: {{u.phone}}</li>
  <li>Accounts:
    <ul *ngFor="let a of u.account">
      <li>{{a}}</li>
    </ul>
  </li>
</ul> -->

<!-- <p [style.color]="color" [style.background-color]="bgColor">Hello</p>
<button (click)="updateColor()">Update Color</button> -->

<form action="" #basicForm="ngForm" (submit)="getFormData(basicForm.value)">
  <input type="text" ngModel name="name" placeholder="Enter user name"><br><br>
  <input type="text" ngModel name="email" placeholder="Enter user email"><br><br>
  <input type="text" ngModel name="password" placeholder="Enter user password"><br><br>
  <button>Register</button>
</form>

<ul>
  <li>{{userData.name}}</li>
</ul>
